* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  background-size: 4px 4px;
  background-size: contain;
  box-sizing: border-box;
  font-family: 'vilna', 'Times New Roman', Times, serif;
  font-size: 14px;
  height: auto;
  margin: 0;
  max-width: calc(100% - 1px);
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
  text-size-adjust: none;
  width: 100vw;
}

main {
  background-size: contain;
  height: 100%;
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  order: 2;
}

.box {
  background-color: #fff;
  max-width: 100vw;
  font-size: 14px;
  padding-bottom: 20px;
  color: #000;
  border-radius: 8px;
}
.box_header {
  font-size: 1.4rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #757575;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_line {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.7;
}

.subheader {
  font-weight: 100;
  font-size: 2rem;
  text-decoration-line: underline;
  text-align: center;
  width: 100%;
}

.eruvMapWrap {
  display: flex;
  max-width: 100vw;
  max-height: 500px;
}
.eruvMapWrap img {
  width: 100%;
  height: auto;
  /* max-height: 100%; */
  max-width: 100%;
}

.text {
  margin: auto;
  font-size: 16px;
  display: inline-block;
}

.time {
  direction: ltr;
}

.name {
  text-align: right;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: 1fr 0.8fr 170px;
    height: calc(100vh - 105px);
  }
  .zmanimBox {
    grid-row: span 2;
  }
  .eruvMapWrap {
    padding: 10px;
    grid-row: span 2;
    max-height: 100%;
    display: flex;
  }
  .hayomBox {
    margin-bottom: 0;
    grid-column: span 2 / 3;
  }
}
